#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.uploader-container {
  border: solid 1px black;
  cursor: pointer;
}

.image-uploaded{
  width: 100%;
  max-height: 400px;
  object-fit: contain;
}